
.navbar-text {
    margin-top: 20px;
}

#loginButton{
    margin-top: 10px;
    margin-right: 5px;
}

#navbarTitle{
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 20px;
    color: #337AB7;
    text-decoration: none;
}